[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-limiter = "*"
ua-parser = "*"
bcrypt = "*"
flask-moment = "*"
pillow = "*"
flask-cors = "*"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.5"
