{% extends "base.html" %}

{% block content %}

    <table id="users-table">
    <thead>
        <tr>
            <th>Id</th><th>Username</th><th>Email</th><th>Permission Level</th>
            <th>Account Locked</th><th>Join Date</th><th>Last Login</th><th>2FA Status</th>
            <th>Moderation Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if user_table %}
            {% for user in user_table %}
                <tr>
                    <td>{{ user.id }}</td>

                    <td class="username-cell">{{ user.username }}</td> 
                    <td>{{ user.email }}</td>
                    <td>{{ user.user_role }}</td>
                    <td>{{ user.account_locked }}</td>
                    <td>{{ user.join_date }}</td>
                    <td>{{ user.lastseen }}</td>
                    <td>{{ user.is_2fa_enabled }}</td>
                    <td style="gap: 10px; display: flex;" name="mod-actions" data-username="{{ user.username }}">
                        <button class="btn btn-primary btn-ban" type="button">Ban</button>
                        <button class="btn btn-primary btn-unban" type="button">Unban</button>
                        <button class="btn btn-primary btn-hellban" type="button">Hellban</button>
                        <select class="form-select status-select" style="width: fit-content;">
                            <option value="user">User</option>
                            <option value="moderator">Moderator</option>
                            <option value="admin">Admin</option>
                            <option value="superadmin">Superadmin</option>
                            <!-- <option value="system">System</option> -->
                        </select>
                        <button class="btn btn-primary btn-changerole" type="button">Change role</button>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
    </table>

    <!-- so to do this we're going to feed information from the api endpoint to here via dictionary
     -->
    <script type="module">
        import { easyfetch } from '/static/js/easyfetch.js';

        async function onSubmitUsername(username) {
            // const profile_info = document.getElementById('profile-info');

            const response = await easyfetch('/admin', {
                method: "POST",
                body: {
                    username: username,
                    modaction: "data"
                }
            });

            if (!response.ok) {
                console.log(response.error);
                // admin_panel.style.display = 'none';
                return;
            }

            // profile_info.querySelectorAll("p").forEach(element => {
            //     element.remove();
            // });

            const userinfo = response.data;

            console.log(userinfo);
            //const profile_picture = document.getElementById('profile-picture');
            
            // if (userinfo.avatar_hash && profile_picture) {
            //     profile_picture.src = userinfo.avatar_hash;
            // }

            // const admin_panel = document.getElementById('admin-panel');
            // admin_panel.style.display = 'block';

            // const display_dict = {
            //     "Username": username,
            //     "UserID": userinfo.user_id,
            //     "Account Locked": userinfo.account_locked,
            //     "Permission Level": userinfo.user_role,
            //     "Joined": userinfo.join_date,
            //     "Last Seen": userinfo.lastseen,
            //     "Is Online": userinfo.is_online
            // };

            // Object.keys(display_dict).forEach(key => {
            //     let new_text = document.createElement("p");
            //     new_text.textContent = `${key}: ` + display_dict[key];
            //     profile_info.appendChild(new_text);
            // });
        }

        async function onSendAction(username, actionName, extraInfo = {}) {

            let params = {
                method: "POST",
                body: {
                    username: username,
                    modaction: actionName
                }
            };

            for (const key in extraInfo) {
                params.body[key] = extraInfo[key];
            }

            const response = await easyfetch('/admin', params);
            console.log(response);

            if (response.ok) {
                window.location.reload();
            }

            // flash notification TODO
        }

        document.addEventListener("DOMContentLoaded", (event) => {

            // const username = document.getElementById('username');
            // const display_username = document.getElementById('username-display');
            // const submit_username = document.getElementById('lookup_username');

            // submit_username.addEventListener('click', () => onSubmitUsername(username.value));

            const admin_buttons = document.getElementsByName("mod-actions");

            for (const element of admin_buttons) {

                const username = element.dataset.username;
                let last_index = 0;

                // its better to use classes here instead of ids because they are unique
                const ban_button = element.querySelector('.btn-ban');
                const unban_button = element.querySelector('.btn-unban');
                const hellban_button = element.querySelector('.btn-hellban');

                ban_button.addEventListener('click', () => onSendAction(username, "ban"));
                unban_button.addEventListener('click', () => onSendAction(username, "unban"));
                hellban_button.addEventListener('click', () => onSendAction(username, "shadowban"));
                
                const role_status = element.querySelector('.status-select');
                const change_role_button = element.querySelector('.btn-changerole');
                change_role_button.addEventListener('click', () => onSendAction(username, "changerole", {
                    new_user_role: role_status.value
                }));
            }
        });
    </script>

    <link rel="stylesheet" href="/static/css/page_style.css">
{% endblock %}