<html>
    <head>
        <link rel="stylesheet" href="/static/css/styles.css">

        <nav class="navbar">
            <a id="home-link" href="/">Vagabond Forum</a>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="#">Forum</a>
                <a href="#">Recent News</a>
                <a href="#">Reading List</a>
                <a href="#">Profile</a>
            </div>
        </nav>

        <!-- <div>
            <p>Random number of the day: {{number}}</p>
            <form action="/post" method="POST">
                <h4>New Post</h4>
                <label for="title">Post Title:</label>
                <input type="text" id="title" name="title" required>
                <br><br>
                <label id="description" for="description">Post Description:</label>
                <textarea id="description" name="description" rows="5" cols="50" required></textarea>
                <br><br>
                <input type="submit" value="Submit">
            </form>
        </div> -->
    </head>
    

    <main class="forum-container">
    <div class="box">
        <h2>A forum for nomads, explorers and travellers</h2>
        <p>This forum is dedicated to sharing and storing information for bushcraft, urban exploration, rock climbing and general advice for a nomadic lifestyle.</p>
        <p>Take a look at our reading list for FM's, Guides and cookbooks.</p>
    </div>

    <!-- <section class="forum-thread">
        <h2>General Discussion</h2>
        <p>Talk about anything here.</p>
        <button class="new-post-btn">+ New Thread</button>
        
    </section> -->

    

    <!-- More posts... -->
    </main>
    <body>
        <!-- this is where we are going to render our forum posts -->
        <!-- {% if posts %}
        <table>
            {% for post in posts %}
                <tr>
                    <td><b>{{ post.title }}</b> by <i>{{ post.author }}</i> at {{ post.creation_date }}</td>
                    <td>{{ post.contents }}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>There are no current posts.</p>
        {% endif %} -->
    </body>
</html>