<!doctype html>
<!-- base.html template -->
<html>
    <head>
        <link rel="stylesheet" href="/static/css/styles.css">

        <nav class="navbar">
            <a id="home-link" href="/">Vagabond Forum</a>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/forums">Forum</a>
                <a href="/news.html">Recent News</a>
                <a href="/reading_list.html">Reading List</a>
                <!--<a href="/">Profile</a>-->
                {% if is_authenticated == True %}
                    <a href="/profile">Profile</a>
                    <a href="/logout">Log out</a>
                {% else %}
                    <a href="/login">Login</a>
                {% endif %}
                <!-- the way templates work are, even things in the base template can be replaced. -->
            </div>
        </nav>
    </head>
    <body>
        is_authenticated = {{ is_authenticated }}, is_superuser = {{ is_superuser }}
        {% block content %}{% endblock %}
    </body>
</html>