{% extends "base.html" %}

{% block content %}

    

    <!-- making this on a seperate page temporarily so its not only portable
     but easier than the hell of the users page of complexity -->

    <style>
        #messages-container {
            
            flex-direction: row;
            overflow-y: auto;
        }

        #messages-frame {
            display: flex;
            flex-direction: column;
            gap: 16px;
            

            flex-grow: 1;
            width: 120vh;
            height: 65vh;
            background-color: rgb(103, 103, 103);
            overflow-y: auto;
            padding: 10px;
        }

        .message-container {
            display: flex;
            flex-direction: row;
            gap: 15px;
        }

        .message-container img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            border: 0px;
        }

        .message-container p {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 5px 12px;
            text-align: center;
            color: white;
            background-color: #2f2f2f;
            border-radius: 6px;
            max-width: 70%;
            word-wrap: break-word;
        }

        #contacts-list {
            width: 200px;
            height: 100%;
            overflow-y: auto;
            flex-shrink: 0;
        }

        .chat-layout {
            display: flex;
            height: 100vh;
            overflow: hidden;
        }

        /* Selector guide: . = class; # = ID */
        .contact-button {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: rgb(103, 103, 103);
            width: 200px;
            height: 30px;
            padding: 0 10px;
            gap: 10px;
        }

        .chat-box {
            display: block;
            flex-grow: 1;
            resize: none;
            background-color: #2f2f2f;
            color: white;
            width: 100%;
        }
    </style>

    <div class="chat-layout">
        <div id="contacts-list">
            {% if contacts_list %}
                {% for group in contacts_list %}
                    <div>
                        <!-- some odd jinja spew -->
                        <button class="contact-button" onclick="window.location.href='{{ url_for('messaging.serve_chat_channel', group_id=group.groupid) }}'">
                            {{ group.group_name }}
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            <!-- awesome way to learn how to use css better, external spread sheets make it more complex than it needs to be
                refactor later -->
            
        </div>
        <div class="messages-container">
            <!-- <p style="height: 30px; color: white; padding-top: 3%; margin-left: 2%;">Example message here</p> -->
            <div class="messages-frame" id="messages-frame">
                <!-- messages populate here -->
            </div>
            <form id="chat-form" name="message" method="POST" action="/api/v1/messages/groups/{{pageGroupID}}/messages">
                <!-- non conventually fired with javascript -->
                <textarea class="chat-box" name="contents" id="chat-box"></textarea>
            </form>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        {% if pageGroupID %}
            <script type="module">
                import { easyfetch } from '/static/js/easyfetch.js';
                const apiEndpoint = "/api/v1/messages/groups/{{pageGroupID}}/messages";

                const renderedMessageIds = new Set();
                // if we keep all the already rendered IDs in a set
                let newestMessageId = null;
                let oldestMessageId = null;

                let loadingMessages = false;
                let initialLoad = true;

                function getCookie(name) {
                    const value = `; ${document.cookie}`;
                    const parts = value.split(`; ${name}=`);
                    if (parts.length === 2) return parts.pop().split(';').shift();
                }

                async function loadOlderMessages() {
                    if (!oldestMessageId || loadingMessages) return;
                    loadingMessages = true;

                    const response = await easyfetch(apiEndpoint, {
                        method: "GET"
                    }, {
                        before: oldestMessageId
                    });

                    if (!response.ok || response.data.length === 0) return;
                    const msgs_frame = document.getElementById("messages-frame");

                    // preserve scroll position
                    const previousScrollHeight = msgs_frame.scrollHeight;

                    for (const element of response.data) {
                        createMessage(
                            element.contents,
                            "past",
                            element.author,
                            element.id
                        );
                    }

                    oldestMessageId = response.data[0].id;
                    msgs_frame.scrollTop += msgs_frame.scrollHeight - previousScrollHeight;
                    loadingMessages = false;
                }

                // only call this once
                async function get_messages() {

                    const queryParams = {
                        mid: newestMessageId
                    };

                    // we have to use URL query parameters here because its a GET request

                    let response = null;
                    if (newestMessageId === null) {
                        // if we have no cursor, retrieve one
                        response = await easyfetch(apiEndpoint, {
                            method: "GET"
                        });
                    } else {
                        response = await easyfetch(apiEndpoint, {
                            method: "GET"
                        }, queryParams);
                    }

                    if (!response || !response.ok) {
                        console.error("Failed to load messages:", response.error);
                        return;
                    }

                    // this way we are updating the lmid every message batch
                    console.log("updated the last shown ID: ", newestMessageId);

                    const msgs_frame = document.getElementById("messages-frame");

                    const message_data = response.data;
                    for (const element of message_data) {
                        createMessage(element.contents, initialLoad ? "past" : "new", element.author, element.id);
                    }

                    if (message_data.length > 0) {
                        if (newestMessageId === null) {
                            msgs_frame.scrollTop = msgs_frame.scrollHeight;
                            newestMessageId = message_data[0].id;
                        } else {
                            newestMessageId = Math.max(newestMessageId, message_data[0].id);
                        }

                        if (oldestMessageId === null) {
                            oldestMessageId = message_data[message_data.length - 1].id;
                        }
                    }

                    initialLoad = false;
                }

                async function send_message(action, message) {
                    
                    if (action && message) {
                        console.log("sending message");
                        const response = await easyfetch(action, {
                            method: "POST",
                            body: { contents: message }
                        });

                        if (!response.ok) {
                            console.error("Failure to send message: ", response.error);
                        }

                        const message_data = response.data;
                        // whenever we send or recv (through websocket) we want to update the lastShownMessageID

                        createMessage(message, "new", message_data.author, message_data.id);
                        socket.emit('new_message', {
                            groupID: '{{pageGroupID}}'
                        });

                        console.log("Current ID: ", newestMessageId);

                        return response;
                    }
                }

                function createMessage(text, type, authorID, messageID) {
                    if (!text || !authorID || !messageID) return;

                    if (renderedMessageIds.has(messageID)) return;
                    renderedMessageIds.add(messageID);

                    const msgs_frame = document.getElementById("messages-frame");
                    const container = document.createElement("div");
                    container.className = "message-container";

                    let isScrolledToBottom = msgs_frame.scrollHeight - msgs_frame.clientHeight <= msgs_frame.scrollTop + 15;
                    if (type === "new" && shouldStickToBottom) {
                        msgs_frame.scrollTop = msgs_frame.scrollHeight;
                    }

                    if (type === "past") {
                        msgs_frame.prepend(container);
                    } else if (type === "new") {
                        msgs_frame.appendChild(container);
                    }

                    // when we load messages from further up we should prepend otherwise, append
                    // create the profile image and text
                    const profileImage = document.createElement("img");
                    profileImage.className = "message-container";
                    profileImage.src = `/api/v1/avatars/users/${authorID}`;
                    container.appendChild(profileImage);

                    const messageText = document.createElement("p");
                    messageText.textContent = text;
                    messageText.className = "message-container";
                    container.appendChild(messageText);
                }
                
                var socket = io();
                socket.on('connect', function() {
                    console.log("websocket connected");
                    socket.emit('join', {
                        groupID: '{{pageGroupID}}'
                    });
                });

                socket.on('new_message', async function() {
                    console.log("received a update notifcation");
                    get_messages();
                });

                window.addEventListener("beforeunload", () => {
                    if (socket && socket.connected) {
                        socket.disconnect();
                    }
                });
                
                document.addEventListener("DOMContentLoaded", async (event) => {
                    // lets get the messages probably with some dummy values
                    get_messages();

                    const msgs_frame = document.getElementById("messages-frame");
                    msgs_frame.addEventListener("scroll", () => {
                        if (msgs_frame.scrollTop === 0) {
                            loadOlderMessages();
                        }
                    });

                    // lets setup the chatbox
                    const chatbox = document.getElementById("chat-box");
                    const chatform = document.getElementById("chat-form");
                    chatform.addEventListener("submit", async (e) => {
                        e.preventDefault();

                        const action = chatform.action, message = chatbox.value.trim();

                        chatbox.value = "";
                        const response = await send_message(action, message);
                    });
                    chatbox.addEventListener("keydown", (e) => {
                        if (e.key == "Enter" && !e.shiftKey) {
                            e.preventDefault();
                            chatform.dispatchEvent(new Event("submit"));
                        }
                    });
                });
            </script>
        {% endif %}
    </div>

    

    
    

{% endblock %}