{% extends "base.html" %}

{% block content %}

    

    <!-- making this on a seperate page temporarily so its not only portable
     but easier than the hell of the users page of complexity -->

    <p>Welcome to the chat page

        In order for someone to chat, they should probably
        1. be able to create a group chat with someone else
        2. be able to submit a message to that group chat
        3. display the group chat to all people in the group
    </p>

    <style>
        #messages-container {
            
            flex-direction: row;
            overflow-y: auto;
        }

        #messages-frame {
            display: flex;
            flex-direction: column;
            gap: 16px;
            

            flex-grow: 1;
            width: 120vh;
            height: 65vh;
            background-color: rgb(103, 103, 103);
            overflow-y: auto;
            padding: 10px;
        }

        .message-container {
            display: flex;
            flex-direction: row;
            gap: 15px;
        }

        .message-container img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            border: 0px;
        }

        .message-container p {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 5px 12px;
            text-align: center;
            color: white;
            background-color: #2f2f2f;
            border-radius: 6px;
            max-width: 70%;
            word-wrap: break-word;
        }

        #contacts-list {
            width: 200px;
            height: 100%;
            overflow-y: auto;
            flex-shrink: 0;
        }

        .chat-layout {
            display: flex;
            height: 100vh;
            overflow: hidden;
        }

        /* Selector guide: . = class; # = ID */
        .contact-button {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: rgb(103, 103, 103);
            width: 200px;
            height: 30px;
            padding: 0 10px;
            gap: 10px;
        }

        .chat-box {
            display: block;
            flex-grow: 1;
            resize: none;
            background-color: #2f2f2f;
            color: white;
            width: 100%;
        }
    </style>

    <div class="chat-layout">
        <div id="contacts-list">
            {% if contacts_list %}
                {% for group in contacts_list %}
                    <div>
                        <!-- some odd jinja spew -->
                        <button class="contact-button" onclick="window.location.href='{{ url_for('messaging.serve_chat_channel', group_id=group.groupid) }}'">
                            {{ group.group_name }}
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            <!-- awesome way to learn how to use css better, external spread sheets make it more complex than it needs to be
                refactor later -->
            
        </div>
        <div class="messages-container">
            <!-- <p style="height: 30px; color: white; padding-top: 3%; margin-left: 2%;">Example message here</p> -->
            <div class="messages-frame" id="messages-frame">
                <!-- messages populate here -->
            </div>
            <form id="chat-form" name="message" method="POST" action="/api/v1/messages/groups/{{pageGroupID}}/messages">
                <!-- non conventually fired with javascript -->
                <textarea class="chat-box" name="contents" id="chat-box"></textarea>
            </form>
        </div>
        
        {% if pageGroupID %}
            <script type="module">
                import { easyfetch } from '/static/js/easyfetch.js';

                let lastShownMessageId = 1;

                // only call this once
                async function get_message_data() {

                    const apiEndpoint = "/api/v1/messages/groups/{{pageGroupID}}/messages";
                    const queryParams = {
                        mid: lastShownMessageId
                    };

                    // we have to use URL query parameters here because its a GET request

                    let response = null;
                    if (lastShownMessageId === 1) {
                        // if we have no cursor, retrieve one
                        response = await easyfetch(apiEndpoint, {
                            method: "GET"
                        });
                    } else {
                        response = await easyfetch(apiEndpoint, {
                            method: "GET"
                        }, queryParams);
                    }

                    if (!response || !response.ok) {
                        console.error("Request failed:", response?.error);
                        return;
                    }

                    // this way we are updating the lmid every message batch
                    console.log("updated the last shown ID: ", lastShownMessageId);

                    return response;
                }

                async function send_message(action, message) {
                    
                    if (action && message) {
                        console.log("sending message");
                        const response = await easyfetch(action, {
                            method: "POST",
                            body: { contents: message }
                        });

                        if (!response.ok) {
                            console.error("Failure to send message: ", response.error);
                        }

                        const message_data = response.data;
                        if (message_data.length > 0) {
                            lastShownMessageId = message_data[message_data.length - 1].id;
                        }

                        return response;
                    }
                }
                
                
                document.addEventListener("DOMContentLoaded", async (event) => {
                    // lets get the messages probably with some dummy values
                    const message_request = await get_message_data();
                    const message_data = message_request.data;

                    if (!message_request || !message_request.ok) {
                        console.error("Failed to load messages:", message_request.error);
                        return;
                    }
                    console.log(message_data);

                    const msgs_frame = document.getElementById("messages-frame");

                    for (const element of message_data) {
                        const container = document.createElement("div");
                        container.className = "message-container";
                        msgs_frame.prepend(container);

                        // create the profile image and text
                        const profileImage = document.createElement("img");
                        profileImage.className = "message-container";
                        profileImage.src = `/api/v1/avatars/users/${element.author}`;
                        container.appendChild(profileImage);

                        const messageText = document.createElement("p");
                        messageText.textContent = element.contents;
                        messageText.className = "message-container";
                        container.appendChild(messageText);
                    }

                    // lets setup the chatbox
                    const chatbox = document.getElementById("chat-box");
                    const chatform = document.getElementById("chat-form");
                    chatform.addEventListener("submit", async (e) => {
                        e.preventDefault();

                        const action = chatform.action, message = chatbox.value.trim();

                        chatbox.value = "";
                        const response = await send_message(action, message);
                    });
                    chatbox.addEventListener("keydown", (e) => {
                        if (e.key == "Enter" && !e.shiftKey) {
                            e.preventDefault();
                            chatform.dispatchEvent(new Event("submit"));
                        }
                    });
                });
            </script>
        {% endif %}
    </div>

    

    
    

{% endblock %}