{% extends "base.html" %}

{% block content %}
    <div>
            <form class="new-post-form" action="/post?category={{ post_category }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <h2>New Post</h2>
                <label for="title">Post Title:</label>
                <input type="text" id="title" maxlength="250" name="title" required>
                <br><br>
                <label>Post Description:</label>
                <br><br>
                <textarea id="description" name="description" maxlength="2000" rows="5" cols="50" required></textarea>
                <br><br>
                <input id="submit" type="submit" value="Submit">
            </form>
    </div>
    <!-- order matters here, because we are using jinja we have to put this AFTER the elements are created. -->
     <!-- we also should ALWAYS load css first -->
    <link rel="stylesheet" href="/static/css/page_style.css">
    <script src="{{ url_for('static', filename='js/save_draft.js') }}"></script>
{% endblock %}