{% extends "base.html" %}

{% block content %}
    <p>This is the forums page.</p>
    <!-- simple new post link -->
    {% if is_superuser == True %}
        <p>As an admin you must try to be kind, considerate and always fair toward our users.</p>
    {% endif %}
    {% if is_authenticated %}
        <!-- once again this route is protected, dont even think about it. -->
        <a href="/post?category={{ forum_category_id }}"><b>New Post</b></a>
    {% else %}
        <b>You must log in to make a new post.</b>
    {% endif %}
    <div>
        {% if posts %}
            
            <table>
                <tr>
                    <th>Topic</th>
                    <th>Replies</th>
                    <th>Views</th>
                    <th>Last Post</th>
                </tr>
                {% for post in posts %}
                    <tr>
                        <td><a href="/forums/{{ post.id }}/{{ post.url_title }}">{{ post.title }}</a> by <i>{{ post.author_username }}</i></td>
                        <td>{{ post.reply_count }}</td>
                        <td>{{ post.views }}</td>
                        {% if post.newest_post_date %}
                            <td>{{ moment(post.newest_post_date, local=True).fromNow() }}</td>
                        {% else %}
                            <td>Never</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>There are no current posts.</p>
        {% endif %}
    </div>
    <link rel="stylesheet" href="/static/css/page_style.css">
{% endblock %}