{% extends "base.html" %}

{% block content %}
    <div class="page-wrapper">
        <main class="forum-container">
            <!-- <img src="/static/img/moraine-lake-panorama-public-domain.jpg"> -->
            <div class="landscape-image"></div>
            

            
        </main>
        <div class="footer-veil">
            <p>Random number of the day: {{number}}</p>
            <p>Total website hits: {{num_hits}}</p>
            {% if is_superuser == True %}
                <p>You are an admin!</p>
            {% else %}
                <p>Welcome {{ 'user' if not current_username else current_username }}!!</p>
                <p>Dont have an account yet? <a href="/signup">Sign Up</a></p>
            {% endif %}
        </div>
    <table>
        <tr>
            <th>Forum Category</th>
            <th>Posts</th>
            <th>Replies</th>
            <th>Activity</th>
        </tr>
        {% for cat in forum_categories %}
            <tr>
                <td><a href="/forums?page=1&category={{ cat.id }}">{{ cat.name }}</a></td>
                <td>{{ cat.post_count }}</td>
                <td>{{ cat.reply_count }}</td>
                {% if cat.newest_post_date %}
                    <td>{{ moment(cat.newest_post_date, local=True).fromNow() }}</td>
                {% else %}
                    <td>Never</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    </div>
    <!-- if you have dynamic content in jinja like table data, css must be placed at the bottom to render correctly -->
    <link rel="stylesheet" href="/static/css/page_style.css">
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}