{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/css/index.css">
    <div class="page-wrapper">
        <main class="forum-container">
            <!-- <img src="/static/img/moraine-lake-panorama-public-domain.jpg"> -->
            <div class="landscape-image"></div>
            

            
        </main>
        <div class="footer-veil">
            <p>Random number of the day: {{number}}</p>
            <p>Total website hits: {{num_hits}}</p>
            {% if is_superuser == True %}
                <p>You are an admin!</p>
            {% else %}
                <p>Welcome user!</p>
                <p>Dont have an account yet? <a href="/signup">Sign Up</a></p>
            {% endif %}

            <table>
                <tr>
                    <th>Forum Category</th>
                    <th>Posts</th>
                    <th>Replies</th>
                    <th>Activity</th>
                </tr>
                {% for cat in forum_categories %}
                    <tr>
                        <td><a href="/forums?page=1&category={{ cat.id }}">{{ cat.name }}</a></td>
                        <td>{{ cat.post_count }}</td>
                        <td>{{ cat.reply_count }}</td>
                        <td>{{ cat.newest_post_date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}