{% extends "base.html" %}

{% block content %}
    <div>
        {% if errormsg %}
            <b>Error during login: {{ errormsg }}</b>
        {% endif %}
        <p>Dont have an account yet? <a href="/signup">Sign Up</a></p>
        <form class="login-form" action="/login" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <h1>Login</h1>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required>
            <br><br>
            <label id="password" for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <br><br>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
    <link rel="stylesheet" href="/static/css/page_style.css">
{% endblock %}