{% extends "base.html" %}

{% block content %}
    <div>
        {% if errormsg %}
            <b>Error during login: {{ errormsg }}</b>
        {% endif %}
        <form class="login-form" action="/login" method="POST">
                <h1>Login</h1>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
                <br><br>
                <label id="password" for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <br><br>
                <input type="submit" value="Login">
            </form>
    </div>
{% endblock %}