{% extends "base.html" %}

{% block content %}
    
    <div style="width: 250px; align-self: center; padding: 25px;">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <br><br>
        <button id="lookup_username" class="btn btn-primary" type="button">Lookup</button>
    </div>
    <div id="admin-panel" style="display: none; width: 250px; align-self: center; padding: 25px;">
        <img id="profile-picture" style="width: 200px; height: 200px;" src="">
        <div id="profile-info"></div>
        <br><br>
        <button id="ban_button" class="btn btn-primary" type="button">Ban</button>
        <button id="unban_button" class="btn btn-primary" type="button">Unban</button>
        <button id="hellban_button" class="btn btn-primary" type="button">Hellban</button>
        <br><br>
        <select id="roleselect" class="form-select">
            <option value="user">User</option>
            <option value="moderator">Moderator</option>
            <option value="admin">Admin</option>
        </select>
        <br>
        <button id="change_role_button" class="btn btn-primary" type="button">Change</button>
    </div>

    <script type="module">
        import { easyfetch } from '/static/js/easyfetch.js';

        async function onSubmitUsername(username) {
            const profile_info = document.getElementById('profile-info');

            const response = await easyfetch('/admin', {
                method: "POST",
                body: {
                    username: username,
                    modaction: "data"
                }
            });

            if (!response.ok) {
                console.log(response.error);
                admin_panel.style.display = 'none';
                return;
            }

            profile_info.querySelectorAll("p").forEach(element => {
                element.remove();
            });

            const userinfo = response.data;

            console.log(userinfo);
            const profile_picture = document.getElementById('profile-picture');

            if (userinfo.avatar_hash && profile_picture) {
                profile_picture.src = userinfo.avatar_hash;
            }

            const admin_panel = document.getElementById('admin-panel');
            admin_panel.style.display = 'block';

            const display_dict = {
                "Username": username,
                "UserID": userinfo.user_id,
                "Account Locked": userinfo.account_locked,
                "Permission Level": userinfo.user_role,
                "Joined": userinfo.join_date,
                "Last Seen": userinfo.lastseen,
                "Is Online": userinfo.is_online
            };

            Object.keys(display_dict).forEach(key => {
                let new_text = document.createElement("p");
                new_text.textContent = `${key}: ` + display_dict[key];
                profile_info.appendChild(new_text);
            });
        }

        async function onSendAction(username, actionName, extraInfo = {}) {

            let params = {
                method: "POST",
                body: {
                    username: username,
                    modaction: actionName
                }
            };

            for (const key in extraInfo) {
                params.body[key] = extraInfo[key];
            }

            const response = await easyfetch('/admin', params);
            console.log(response);

            // flash notification TODO
        }

        document.addEventListener("DOMContentLoaded", (event) => {

            const username = document.getElementById('username');
            const display_username = document.getElementById('username-display');
            const submit_username = document.getElementById('lookup_username');

            submit_username.addEventListener('click', () => onSubmitUsername(username.value));

            const ban_button = document.getElementById('ban_button');
            const unban_button = document.getElementById('unban_button');
            const hellban_button = document.getElementById('hellban_button');
            const change_role_button = document.getElementById('change_role_button');

            ban_button.addEventListener('click', () => onSendAction(username.value, "ban"));
            unban_button.addEventListener('click', () => onSendAction(username.value, "unban"));

            hellban_button.addEventListener('click', () => onSendAction(username.value, "shadowban"));
            change_role_button.addEventListener('click', () => onSendAction(username.value, "changerole", {
                new_user_role: document.getElementById('roleselect').value
            }));


            // const response = await easyfetch('/api/data', {
            //     method: 'GET'
            // });

        });
    </script>

    <link rel="stylesheet" href="/static/css/page_style.css">
{% endblock %}