{% extends "base.html" %}

{% block content %}

    {% if userinfo %}
        <img style="width: 200px; height: 200px;" class="center-image" src="/static/avatars/{{ userinfo.avatar_hash or '/static/img/not_found.png' }}.jpg">
        <p>Hello, <b>{{ userinfo.username }}</b>! You are user number: {{ userinfo.userid }}<br>Welcome! We appreciate your patronage since {{ userinfo.join_date }}</p>
        {% if is_superuser %}
            <p>As an <b>admin</b>! be sure to use your power to make everyone happy! <b>or else..</b></p>
        {% endif %}
    {% endif %}

    {% if sessions %}
        <button id="sign-out-sessions" class="btn btn-primary" type="button">Sign out all other sessions</button>
        <p style="display:none;" id="status-text"></p>

        <h2>Login Sessions</h2>
        {% for sesh in sessions %}
            <b>Status: {{ 'ACTIVE' if sesh.active else 'INACTIVE' }}</b>
            <p>Session from: {{ sesh.userAgent }} by IP address {{ sesh.ipaddr }} on {{ sesh.lastLogin }}</p>
        {% endfor %}

        <script src="{{ url_for('static', filename='js/sign_out_sessions.js') }}"></script>
    {% endif %}
    <link rel="stylesheet" href="/static/css/page_style.css">
{% endblock %}