{% extends "base.html" %}

{% block content %}
        <div>
        {% if errormsg %}
            <b>Error during signup: {{ errormsg }}</b>
        {% endif %}
        <p>Join us! in this <b>epic</b> repository of survival tips, information and wonderful community.</p>
        <form class="login-form" action="/signup" method="POST">
            <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}"/>
            <h1>Signup</h1>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required>
            <br><br>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            <br><br>
            <label id="password" for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <br><br>
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </form>
    </div>
    <link rel="stylesheet" href="/static/css/page_style.css">
{% endblock %}