{% extends "base.html" %}

{% block content %}

    <div style="display: flex;">

        <div class="profile-view">
            <img style="width: 200px; height: 200px;" src="/static/avatars/{{ userinfo.avatar_hash }}.jpg">
            <p>Username: <b>{{ userinfo.username }}</b></p>
            <p>{{ 'Online' if userinfo.is_online == True else 'Offline' }}</p>
            <!-- value_if_true if condition else value_if_false -->
            <p>Last Online: {{ userinfo.lastseen }}</p>
            <p>Joined: {{ userinfo.join_date }}</p>
            <p>About Me: {{ userinfo.description or '' }}</p>

        </div>
        <div style="display: flex; align-items: center; justify-content: center; text-align: center;" class="posts-view">
            <h3>User Posts</h3>
            
        </div>
    
    </div>

    <link rel="stylesheet" href="/static/css/new_style.css">
{% endblock %}