{% extends "base.html" %}

{% block content %}

    <div style="display: flex;">

        <div class="profile-view">
            <img style="width: 200px; height: 200px;" src="/static/avatars/{{ userinfo.avatar_hash }}.jpg">
            <p>Username: <b>{{ userinfo.username }}</b></p>
            <p>{{ 'Online' if userinfo.is_online == True else 'Offline' }}</p>
            <!-- value_if_true if condition else value_if_false -->
            <p>Last Online: {{ userinfo.lastseen }}</p>
            <p>Joined: {{ userinfo.join_date }}</p>
            <p>About Me: {{ userinfo.description or '' }}</p>
        </div>
        <div class="posts-container">
            <div class="posts-bar">
                <h3>Recent user posts</h3>
            </div>
            <div class="posts-view">
                <div class="grid-container">
                    {% for post in posts %}
                        <div class="grid-item">
                            <a href="/forums/{{ post.id }}/">{{ post.title }}</a>
                            <span>views: {{ post.views }}</span>
                        </div>
                    {% endfor %}
                    <!-- <div class="grid-item">
                        <p>How to skin a fish</p>
                    </div>
                    <div class="grid-item">
                        <p>How to make a boat out of scrap</p>
                    </div>
                    <div class="grid-item">
                        <p>hello</p>
                    </div>
                    <div class="grid-item">
                        <p>hello</p>
                    </div>
                    <div class="grid-item">
                        <p>hello</p>
                    </div>
                    <div class="grid-item">
                        <p>hello</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="/static/css/new_style.css">
{% endblock %}