{% extends "base.html" %}

{% block content %}

    {% if post %}
        <div class="user-post">
            <h2><b>{{ post.title }}</b></h2>
            <p>author: {{ post.author_username }} on {{ post.creation_date }}</p>
            <p>{{ post.contents }}</p>
            <p>{{ post.views }} views</p>
            <form class="new-post-form" action="{{ request.url }}?reply" method="POST">
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <h4>Reply to this post</h4>
                <textarea id="reply" name="reply" placeholder="Write your reply here" rows="5" cols="50" required></textarea>
                <br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    {% endif %}

    {% if replies %}
        {% for post in replies %}
            <div class="user-post">
                <h2><b>Reply</b></h2>
                <p>author: {{ post.author }} on {{ post.creation_date }}</p>
                <p>{{ post.contents }}</p>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}