{% extends "base.html" %}

{% block content %}

    <!-- admins can see deleted posts for investigatory purposes -->
    {% if post and is_post_deleted == False or is_superuser == True %}
        <div class="user-post">
                <h2><b>{{ post.title }}</b></h2>
                <p>author: <a href="/users/{{ post.author }}/">{{ post.author_username }}</a> on {{ post.creation_date }}</p>
                <p>{{ post.contents }}</p>
                <p>{{ post.views }} views</p>
                {% if is_authenticated %}
                    {% if is_post_owner %}
                        <p>You are the post owner, you may delete this post at any time</p>
                        <form class="delete-post-button" action="{{ request.url }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}"/>
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_post_type" value="post">
                            <button type="submit">Delete Post</button>
                        </form>
                    {% endif %}

                    {% if is_post_locked %}
                        <b>This post has been locked, it is no longer accepting replies.</b>
                    {% else %}
                        <form class="new-post-form" action="{{ request.url }}?reply" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}"/>
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <h4>Reply to this post</h4>
                            <textarea id="reply" name="reply" placeholder="Write your reply here" rows="5" cols="50" required></textarea>
                            <br><br>
                            <input type="submit" value="Submit">
                        </form>
                    {% endif %}
                {% else %}
                    <p>You must log in to leave a reply.</p>
                {% endif %}
            </div>

        {% if replies %}
            {% for post in replies %}
                <div class="user-post">
                    <h2><b>Reply</b></h2>
                    <p>author: <a href="/users/{{post.author}}/">{{ post.author_username }}</a> {{ moment(post.creation_date, local=True).fromNow() }} said:</p>
                    <p>{{ post.contents }}</p>
                    {% if is_superuser == True or post.author == current_userid %}
                        <!-- display the delete button (a form hack is to have the post_id hidden here) -->
                        <!-- the route is protected -->
                        <form class="delete-post-button" action="{{ request.url }}?reply" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}"/>
                            <input type="hidden" name="reply_id" value="{{ post.id }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_post_type" value="reply">
                            <button type="submit">Delete Post Reply</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}

    {% else %}
        <b>This post has been deleted.</b>
    {% endif %}
    <link rel="stylesheet" href="/static/css/page_style.css">
{% endblock %}