:root {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --header-bg: #ffffff;
  --nav-bg: #161616;
  --link-color: #dcdbdb;
  --a-link-color: #1d1d1d;
  --link-hover: #555555;
  --card-bg: #ffffff;
  --button-bg: #333333;
  --button-hover: #555555;
  --meta-color: #888888;
  --border-color: #cccccc;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: 'InterVariable', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  flex: 1 0 auto;
}

.page-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}


h2 {
  display: block;
  font-size: 1.6em;
  margin: 0.83em 0;
  font-weight: bold;
  unicode-bidi: isolate;
  text-decoration: none;
  box-shadow: inset 0 -0.03em 0 0 var(--meta-color);
}

/* Layout containers */
.forum-container {
  color: #1a1a1a;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.center-image {
  display: block;
  margin: 0 auto;
  width: 50%;
}

div.box {
  margin: 0 auto 1rem auto;
  padding: 1em;
  background: #ecf2f5;
  border: 1px solid #bbccdd;
  width: 38%;
  text-align: left;
}


.navbar {
  background-color: var(--nav-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.navbar a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s;
  padding: 0.25rem 0;
  height: 30px;
}

.navbar a:hover {
  color: var(--link-hover);
}


.new-post-btn,
.input-box .new-post-btn {
  background-color: var(--button-bg);
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.input-box .new-post-btn:hover,
.new-post-btn:hover {
  background-color: var(--button-hover);
}


.input-box textarea {
  min-height: 150px;
}


.meta {
  font-size: 0.7rem;
  color: var(--meta-color);
}

.user-post {
  color: var(--text-color);
}

#sign-out-sessions {
  height: 35px;
  width: 15%;
  margin: 0 auto;
  justify-content: center;
}
