body {
  background-image: url('/static/img/moraine-lake-panorama-public-domain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

footer {
  font-size: x-small;
  color: #888888;
  padding-top: 12%;
}

.footer-veil {
  flex-shrink: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
  margin-top: 9%;
  padding: 1rem;
}