body {
  background-image: url('/static/img/moraine-lake-panorama-public-domain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}