/* body {
  background-image: url('/static/img/moraine-lake-panorama-public-domain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */

.landscape-image {
  height: 300px;
  margin-top: -60px;
  margin-left: -35px;
  margin-right: -35px;
  margin-bottom: -35px;
  background: transparent;
  background-image: url('/static/img/moraine-lake-panorama-public-domain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}



.footer-veil {
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
  padding: 2rem;
  margin-top: auto;
  min-height: 200px;
}


.footer-veil a {
  color: #212121;
  text-decoration: underline;
}

.footer-veil table {
  margin: 0 auto;
  width: 80%;
}

footer {
  font-size: x-small;
  text-align: center;
  margin-top: 4rem;
  background-color: var(--bg-color);
}