
.center-element {
    display: flex;
    align-items: center;
    justify-content: center;
}

.posts-view {
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #ccc;
    width: 50%;
    height: 50px;
    margin-left: 80px;
}

.profile-view {
    background-color: #ffffff;
    text-align: center;
    border: 1px solid #ccc;
    padding: 15px;
    margin-left: 150px;
    margin-bottom: 155px;
    width: 450px;
}

.profile-view img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

body {
    background-color: #efefef;
}