table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem auto;
  max-width: 1000px;
  font-size: 0.95rem;
  /* color: var(--a-link-color); */
  border: 1px solid #161616;
  background-color: #161616;
  color: #dadada;
}

th,
td {
  border: 1px solid #424242; /* inner column and row borders */
  padding: 0.5rem;
  text-align: left;
  color: #dadada;
}

td a {
  color: #dadada;
}

td a:hover {
  color: var(--link-hover);
}

body {
  text-align: center;
  color: #161616;
}